/* Style principal de la page css
* @Author Aldarion 
* @Theme theme1
* @Date 11/06/2018
*/


/* ************************************************************* 
*  Déclaration des valeurs communes aux tthèmes
*/ 


html {
	width: 100%;
	height : 100%;
	margin:0;
	padding:0
}

body {
	background-image :url(../img/fond/fond1.jpg);
	background-repeat:no-repeat;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
  	background-size: cover; /* version standardisée */
  	margin:0;
  	font-family: Helvetica, Arial, sans-serif;
  	color : white;
}

a {
	text-decoration: none;
	color: white;
}

ul {
	margin:0;
	padding:0
}

ul li {
	list-style-type:none;
}

#menu {	
	float:left;
	width: 100%;
	background-color: black; /* Temporaire */		
	font-size : 12pt;	
	opacity : 0.5;
	
}


/* ************************************************************* 
*  Déclaration - Ecran grand
*  ************************************************************* */ 

#menu #navigation 
{	
	width: 55%;
	margin:auto;
}



#menu #navigation ul li {
	float:left;
	padding : 20px 50px 20px 50px;
	text-align : center;
}

#contenu {	
	margin:10px auto;
	vertical-align:middle; /* On aligne les éléments au milieu */ 	
	overflow: hidden; 
	position: relative;
	width:55%;
	height:100%;
	padding:0;
	background:rgba(255,255,255, 0.1);
}

#contenu #corp {	
	width: 100%;
	height: 100%;	
	float:left
}


.slider-container figure {
	margin:20 0 0 0;
	text-align:center;
}
































/* ************************************************************* 
*  Déclaration - Ecran 1300
*  ************************************************************* */ 

@media screen and (max-width: 1300px) {
	
	#menu #navigation 
	{	
		width: 90%;
		margin:auto;
	}

	

	#menu #navigation ul li {
		float:left;
		padding : 20px 12px 20px 13px;
	}

	#contenu {	
		margin:auto;
		width:90%;
		height:100%;
		padding:0;
		background:rgba(255,255,255, 0.1);
	}

	#contenu #corp {	
		width: 100%;
		height: 100%;	
		
	}


	.slider-container figure {
		margin:10 0 0 0;
		text-align:center;
	}
}
